In [18]:
# import module
from tabulate import tabulate

# assign data
mydata = [{"Alex", "123457", "20101012", "20121013", "MVD", "Paul", "SA", "USA", "06031987", "A"},
		{"John", "123458", "20101012", "20121013", "MVD", "Paul", "TN", "IND", "06031987", "A"},
		{"Mathew", "123459", "20101012", "20121013", "MVD", "Paul", "WAS", "PHIL", "06031987", "A"},
		{"Matt", "12345", "20101012", "20121013", "MVD", "Paul", "BOS", "NYC", "06031987", "A"},
		{"Jacob", "1256", "20101012", "20121013", "MVD", "Paul", "VIC", "AU", "06031987", "A"}]

# create header
head = [{"Customer_Name", "Customer_Id", "Open_Date", "Last_Consulted_Date", "Vaccination_Id", "Dr_Name", "State", "Country", "DOB", "Is_Active"}]

# display table
print(tabulate(mydata, headers=head, tablefmt="grid"))

+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+
|      |      |          |          |          |          |          |          |          | {'Is_Active', 'Customer_Id', 'DOB', 'State', 'Dr_Name', 'Customer_Name', 'Vaccination_Id', 'Open_Date', 'Country', 'Last_Consulted_Date'}   |
+======+======+==========+==========+==========+==========+==========+==========+==========+=============================================================================================================================================+
| Alex | A    | Paul     | USA      | 20101012 | SA       | 20121013 | MVD      | 06031987 | 123457                                                                                                                                      |
+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+
| John | A    | Paul     | 20101012 | TN       | 20121013 | MVD      | 06031987 | 123458   | IND                                                                                                                                         |
+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+
| A    | Paul | 123459   | 20101012 | Mathew   | 20121013 | MVD      | PHIL     | 06031987 | WAS                                                                                                                                         |
+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+
| A    | Paul | NYC      | 20101012 | BOS      | 20121013 | MVD      | 06031987 | 12345    | Matt                                                                                                                                        |
+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+
| A    | Paul | 20101012 | 1256     | AU       | VIC      | 20121013 | Jacob    | MVD      | 06031987                                                                                                                                    |
+------+------+----------+----------+----------+----------+----------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------+

In [20]:
from prettytable import PrettyTable

# Specify the Column Names while initializing the Table
myTable = PrettyTable(["Student Name", "Class", "Section", "Percentage"])

# Add rows
myTable.add_row(["Leanord", "X", "B", "91.2 %"])
myTable.add_row(["Penny", "X", "C", "63.5 %"])
myTable.add_row(["Howard", "X", "A", "90.23 %"])
myTable.add_row(["Bernadette", "X", "D", "92.7 %"])
myTable.add_row(["Sheldon", "X", "A", "98.2 %"])
myTable.add_row(["Raj", "X", "B", "88.1 %"])
myTable.add_row(["Amy", "X", "B", "95.0 %"])

print(myTable)

ModuleNotFoundError: No module named 'prettytable'